*.ini
*.bak
*.dlhw
*.eiptag
*.ex
*.hwc
*.inivals
*.pnt
*.~bak
*.~isp
**/*.pyc
rack_control/plc/project_file/logfile.txt
*.log
/server_lib/dist
ellemento.egg-info
*.pyc
server_lib/ellemento/__pycache__/__init__.cpython-37.pyc
.gitignore
.gitignore
server_lib/ellemento/job/__pycache__/*.pyc
server_lib/ellemento/__pycache__/*.pyc

server_lib/ellemento/__pycache__/__init__.cpython-37.pyc
server_lib/ellemento/__pycache__/__init__.cpython-37.pyc
/server_lib/ellemento/__pycache__
/server_lib/lib/__pycache__
/server_lib/ellemento/plc/__pycache__
/server_lib/ellemento/job/__pycache__
